

*{
    font-family: 'PT Sans Narrow', sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
    

}
.container{
   width: 100%;
}
div .primary{
    /* border: 2px solid rgb(8, 81, 63); */
    /* background-color:rgb(157, 193, 184); */
    margin-top: 30px;
    text-align: center;
    font-size: 2rem;
    position: absolute;
    left: 54px;
    top: 56px;
    font-size: 3rem;
}
#backimg img{
    /* content: "";
    opacity: 0.7;
    z-index: -1; */
    height: 400px;
    width: 100%;
   box-shadow: 7px 18px 21px #323a
   
    

}
hr{
    margin-top: 40px;
    font-size: 1rem;
}
.search input{
     
    height: 30px;
    width: 50vw;
     border: solid;
     border-color: rgb(12, 64, 96);
    /* border: 4px rgb(35, 117, 120); */
    border-radius: 20px;
    left: 50px;
    position: relative;
    bottom: 160px;
    left: 270px;
    background-color: rgb(23, 81, 112);
}
input {
    text-align: center;
  }
  
  ::-webkit-input-placeholder {
    text-align: center;
    font-weight: bold;
    color: black;
  }
  
  :-moz-placeholder {
    text-align: center;
  }

.searchicon{
    /* border: 2ps solid red; */
    position: relative;
    bottom: 187px;
    /* right: 205px; */
    left: 69vw;
}

.shopavail{
   
  height: 40px;
  margin-top: 40px;
  margin-left: 40px;
  font-size: 40px;    
}
#services{
    height: 100%;
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;

}

#services .item{
    background-color:rgb(95, 173, 187);
    border: 2px solid rgb(74, 152, 200);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 319px;
    margin: 29px;
    border-radius: 18px;
    padding: 5px;
    
    
}
#services .img1 img{
    height: 98px;
    width: 210px;


}
#services .item p{
     text-align: center;
     font-size: 0.7rem;
}
#services .item .status{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(18, 78, 81);

    border-radius: 5px;
    margin: 3px;
    padding: 4px;
    font-size: 15px;
    background-color:rgb(33, 144, 147);

}

#services .item .status a{
    text-decoration: none;
}

div h2{
    margin: -40px;
    color: aliceblue;
}

 



footer p{
    text-align: center;
}